h1 {
  color: white;
  font-size: 25px;
  max-width: 200px;
}

h2 {
  color: white;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 2em;
}

.header {
  color: rgba(81, 192, 150, 0.76);
}

.app {
  background-color: rgb(47, 47, 73);
  padding: 2em;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
}

.generated {
  display: inline;
  margin: 1em;
  padding: 0 2em;
  background-color: rgb(80, 80, 122);
  border-radius: 3px;
  color: rgba(91, 202, 160, 0.76);
}

.button {
  display: block;
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 5px 14px;
  background-color: rgba(59, 145, 112, 0.76);
  color: white;
  border: 1px solid rgba(48, 121, 93, 0.76);
  font-size: 12px;
}
